.Orders {
  height: 100%;
  width: 100%;
}

.list {
  box-sizing: border-box;
  background-color: white;
  width: 72%;
  height: 410px;
  position: absolute;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  background-color: aqua;
}

.Orders > .Title {
  margin-top: -5px;
  margin-bottom: 40px;
}

.shot {
  cursor: pointer;
}
